In [1]:
import os
import sys
import pandas as pd
sys.path.insert(0, os.path.join(os.getcwd(), '..'))
from src.data_loader import DataLoader
from src.preprocessing import Preprocessor

# Load data
loader = DataLoader()
transactions = loader.load_transactions()
cards = loader.load_cards()
users = loader.load_users()
fraud_labels = loader.load_fraud_labels()

2025-02-13 00:57:37,312 - src.config - DEBUG - DataLoader initialized with file paths.
2025-02-13 00:57:37,312 - src.config - INFO - Loading transactions from /Users/sathyanarayanan/Desktop/github/Financial Transactions Dataset/data/transactions_data.csv
2025-02-13 00:57:49,541 - src.config - DEBUG - Transactions loaded with shape (13305915, 12)
2025-02-13 00:57:49,546 - src.config - INFO - Loading cards from /Users/sathyanarayanan/Desktop/github/Financial Transactions Dataset/data/cards_data.csv
2025-02-13 00:57:49,555 - src.config - DEBUG - Cards loaded with shape (6146, 13)
2025-02-13 00:57:49,556 - src.config - INFO - Loading users from /Users/sathyanarayanan/Desktop/github/Financial Transactions Dataset/data/users_data.csv
2025-02-13 00:57:49,561 - src.config - DEBUG - Users loaded with shape (2000, 14)
2025-02-13 00:57:49,561 - src.config - INFO - Loading fraud labels from /Users/sathyanarayanan/Desktop/github/Financial Transactions Dataset/data/train_fraud_labels.json
2025-02-13 00:57:56,385 - src.config - DEBUG - Fraud labels loaded with shape (8914963, 2)

In [3]:
transactions.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN

In [4]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            object
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.2+ GB

In [5]:
transactions = transactions.fillna("NA")

In [6]:
transactions.isna().sum()

id                0
date              0
client_id         0
card_id           0
amount            0
use_chip          0
merchant_id       0
merchant_city     0
merchant_state    0
zip               0
mcc               0
errors            0
dtype: int64

In [7]:
non_null_errors = transactions[transactions['errors'].notna()]
non_null_errors

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NA
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NA
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NA
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NA
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NA
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,$1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,NA
13305911,23761869,2019-10-31 23:56:00,1766,2066,$12.80,Online Transaction,39261,ONLINE,NA,NA,5815,NA
13305912,23761870,2019-10-31 23:57:00,199,1031,$40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,NA
13305913,23761873,2019-10-31 23:58:00,1986,5443,$4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,NA
13305914,23761874,2019-10-31 23:59:00,489,5697,$12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,NA

In [8]:

cards.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [9]:
cards.isna().sum()

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

In [10]:

users.head()

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1

In [11]:
users.isna().sum()

id                   0
current_age          0
retirement_age       0
birth_year           0
birth_month          0
gender               0
address              0
latitude             0
longitude            0
per_capita_income    0
yearly_income        0
total_debt           0
credit_score         0
num_credit_cards     0
dtype: int64

In [12]:
fraud_labels['fraud_label'].value_counts()

fraud_label
No     8901631
Yes      13332
Name: count, dtype: int64

In [13]:
fraud_labels.head()

  transaction_id fraud_label
0       10649266          No
1       23410063          No
2        9316588          No
3       12478022          No
4        9558530          No

In [ ]:
preprocessor = Preprocessor()
df = preprocessor.merge_data(transactions, cards, users, fraud_labels)

2025-02-13 00:58:08,938 - src.config - DEBUG - Preprocessor initialized.
2025-02-13 00:58:08,945 - src.config - INFO - Merging datasets.
2025-02-13 01:02:16,485 - src.config - DEBUG - Data merged successfully. Final shape: (13305915, 30)

In [ ]:

df.head()

2025-02-13 01:06:19,221 - src.config - DEBUG - Preprocessor initialized.

,amount,use_chip,merchant_city,merchant_state,mcc,errors,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,year_pin_last_changed,card_on_dark_web,transaction_id,fraud_label,current_age,retirement_age,birth_year,birth_month,gender,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,$-77.00,Swipe Transaction,Beulah,ND,5499,NA,Mastercard,Debit (Prepaid),5497590243197280,07/2022,306,YES,2,$55,2008,No,7475327,No,30,67,1989,7,Female,46.80,-100.76,$23679,$48277,$110153,740,4
1,$14.57,Swipe Transaction,Bettendorf,IA,5311,NA,Mastercard,Credit,5175842699412235,12/2024,438,YES,1,$9100,2015,No,7475328,No,48,67,1971,6,Male,40.80,-91.12,$18076,$36853,$112139,834,5
2,$80.00,Swipe Transaction,Vista,CA,4829,NA,Mastercard,Debit,5874992802287595,05/2020,256,YES,1,$14802,2008,No,7475329,No,49,65,1970,4,Male,33.18,-117.29,$16894,$34449,$36540,686,3
3,$200.00,Swipe Transaction,Crown Point,IN,4829,NA,Mastercard,Debit,5346827663529174,10/2024,54,NO,2,$37634,2006,No,NaN,NaN,52,67,1967,5,Female,41.42,-87.35,$26168,$53350,$128676,685,5
4,$46.41,Swipe Transaction,Harwood,MD,5813,NA,Visa,Debit,4354185735186651,01/2020,120,YES,1,$19113,2014,No,7475332,No,51,69,1968,5,Male,38.86,-76.60,$33529,$68362,$96182,711,2

In [16]:
# Print the number of missing values for each column
print("Missing values per column:")
print(df.isna().sum())

Missing values per column:
amount                         0
use_chip                       0
merchant_city                  0
merchant_state                 0
mcc                            0
errors                         0
card_brand                     0
card_type                      0
card_number                    0
expires                        0
cvv                            0
has_chip                       0
num_cards_issued               0
credit_limit                   0
year_pin_last_changed          0
card_on_dark_web               0
transaction_id           4390952
fraud_label              4390952
current_age                    0
retirement_age                 0
birth_year                     0
birth_month                    0
gender                         0
latitude                       0
longitude                      0
per_capita_income              0
yearly_income                  0
total_debt                     0
credit_score                   0
num_credit_cards               0
dtype: int64

In [17]:
df.head()

,amount,use_chip,merchant_city,merchant_state,mcc,errors,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,year_pin_last_changed,card_on_dark_web,transaction_id,fraud_label,current_age,retirement_age,birth_year,birth_month,gender,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,$-77.00,Swipe Transaction,Beulah,ND,5499,NA,Mastercard,Debit (Prepaid),5497590243197280,07/2022,306,YES,2,$55,2008,No,7475327,No,30,67,1989,7,Female,46.80,-100.76,$23679,$48277,$110153,740,4
1,$14.57,Swipe Transaction,Bettendorf,IA,5311,NA,Mastercard,Credit,5175842699412235,12/2024,438,YES,1,$9100,2015,No,7475328,No,48,67,1971,6,Male,40.80,-91.12,$18076,$36853,$112139,834,5
2,$80.00,Swipe Transaction,Vista,CA,4829,NA,Mastercard,Debit,5874992802287595,05/2020,256,YES,1,$14802,2008,No,7475329,No,49,65,1970,4,Male,33.18,-117.29,$16894,$34449,$36540,686,3
3,$200.00,Swipe Transaction,Crown Point,IN,4829,NA,Mastercard,Debit,5346827663529174,10/2024,54,NO,2,$37634,2006,No,NaN,NaN,52,67,1967,5,Female,41.42,-87.35,$26168,$53350,$128676,685,5
4,$46.41,Swipe Transaction,Harwood,MD,5813,NA,Visa,Debit,4354185735186651,01/2020,120,YES,1,$19113,2014,No,7475332,No,51,69,1968,5,Male,38.86,-76.60,$33529,$68362,$96182,711,2

In [18]:
df.columns

Index(['amount', 'use_chip', 'merchant_city', 'merchant_state', 'mcc',
       'errors', 'card_brand', 'card_type', 'card_number', 'expires', 'cvv',
       'has_chip', 'num_cards_issued', 'credit_limit', 'year_pin_last_changed',
       'card_on_dark_web', 'transaction_id', 'fraud_label', 'current_age',
       'retirement_age', 'birth_year', 'birth_month', 'gender', 'latitude',
       'longitude', 'per_capita_income', 'yearly_income', 'total_debt',
       'credit_score', 'num_credit_cards'],
      dtype='object')

In [19]:
selected_cols = ["id", "date", "client_id", "card_id", "merchant_id",
                 "id_card", "client_id_card", "acct_open_date", "zip", "address"]

df = df.drop(columns=selected_cols)

KeyError: "['id', 'date', 'client_id', 'card_id', 'merchant_id', 'id_card', 'client_id_card', 'acct_open_date', 'zip', 'address'] not found in axis"

In [20]:
df.head()

,amount,use_chip,merchant_city,merchant_state,mcc,errors,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,year_pin_last_changed,card_on_dark_web,transaction_id,fraud_label,current_age,retirement_age,birth_year,birth_month,gender,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,$-77.00,Swipe Transaction,Beulah,ND,5499,NA,Mastercard,Debit (Prepaid),5497590243197280,07/2022,306,YES,2,$55,2008,No,7475327,No,30,67,1989,7,Female,46.80,-100.76,$23679,$48277,$110153,740,4
1,$14.57,Swipe Transaction,Bettendorf,IA,5311,NA,Mastercard,Credit,5175842699412235,12/2024,438,YES,1,$9100,2015,No,7475328,No,48,67,1971,6,Male,40.80,-91.12,$18076,$36853,$112139,834,5
2,$80.00,Swipe Transaction,Vista,CA,4829,NA,Mastercard,Debit,5874992802287595,05/2020,256,YES,1,$14802,2008,No,7475329,No,49,65,1970,4,Male,33.18,-117.29,$16894,$34449,$36540,686,3
3,$200.00,Swipe Transaction,Crown Point,IN,4829,NA,Mastercard,Debit,5346827663529174,10/2024,54,NO,2,$37634,2006,No,NaN,NaN,52,67,1967,5,Female,41.42,-87.35,$26168,$53350,$128676,685,5
4,$46.41,Swipe Transaction,Harwood,MD,5813,NA,Visa,Debit,4354185735186651,01/2020,120,YES,1,$19113,2014,No,7475332,No,51,69,1968,5,Male,38.86,-76.60,$33529,$68362,$96182,711,2

In [25]:
df = preprocessor.process_dataframe(df)

TypeError: Preprocessor.process_dataframe() takes 1 positional argument but 2 were given

In [38]:
test = df[df['transaction_id'].isna()]
train = df[df['transaction_id'].notna()]

In [1]:
train.info()

NameError: name 'train' is not defined

In [ ]:
test.isna().sum()

amount                         0
use_chip                       0
merchant_city                  0
merchant_state                 0
mcc                            0
errors                         0
card_brand                     0
card_type                      0
card_number                    0
cvv                            0
has_chip                       0
num_cards_issued               0
credit_limit                   0
year_pin_last_changed          0
card_on_dark_web               0
transaction_id           4390952
fraud_label              4390952
current_age                    0
retirement_age                 0
birth_year                     0
birth_month                    0
gender                         0
latitude                       0
longitude                      0
per_capita_income              0
yearly_income                  0
total_debt                     0
credit_score                   0
num_credit_cards               0
expires_month                  0
expires_year                   0
dtype: int64

:

In [33]:
train.isna().sum()

amount                   0
use_chip                 0
merchant_city            0
merchant_state           0
mcc                      0
errors                   0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
year_pin_last_changed    0
card_on_dark_web         0
transaction_id           0
fraud_label              0
current_age              0
retirement_age           0
birth_year               0
birth_month              0
gender                   0
latitude                 0
longitude                0
per_capita_income        0
yearly_income            0
total_debt               0
credit_score             0
num_credit_cards         0
dtype: int64

In [1]:
import os
import sys
import logging
import pandas as pd
pd.set_option('display.max_columns', None)

sys.path.insert(0, os.path.join(os.getcwd(), '..'))

from src.config import DATA_DIR, MODELS_DIR, logger, SAVE_PROCESSED_DATA
from src.data_loader import DataLoader
from src.preprocessing import Preprocessor
from src.feature_engineering import FeatureEngineer
from src.fraud_detection import FraudDetectionModel
from src.customer_segmentation import CustomerSegmentation
from src.clv_prediction import CLVPrediction


logger.info("Starting main pipeline execution.")
os.makedirs(MODELS_DIR, exist_ok=True)

# 1. Load data
loader = DataLoader()
transactions = loader.load_transactions()
cards = loader.load_cards()
users = loader.load_users()
fraud_labels = loader.load_fraud_labels()

# 2. Preprocess and merge data
preprocessor = Preprocessor()
transactions = preprocessor.preprocess_transactions(transactions)
cards = preprocessor.preprocess_cards(cards)
df_merged = preprocessor.merge_data(transactions, cards, users, fraud_labels)

# Split processing into supervised and unsupervised pipelines:
#df_supervised = preprocessor.process_for_supervised(df_merged)
df_unsupervised = preprocessor.process_for_unsupervised(df_merged)

2025-02-14 02:34:24,998 - matplotlib - DEBUG - matplotlib data path: /opt/homebrew/lib/python3.11/site-packages/matplotlib/mpl-data
2025-02-14 02:34:25,001 - matplotlib - DEBUG - CONFIGDIR=/Users/sathyanarayanan/.matplotlib
2025-02-14 02:34:25,018 - matplotlib - DEBUG - interactive is False
2025-02-14 02:34:25,019 - matplotlib - DEBUG - platform is darwin
2025-02-14 02:34:25,049 - matplotlib - DEBUG - CACHEDIR=/Users/sathyanarayanan/.matplotlib
2025-02-14 02:34:25,051 - matplotlib.font_manager - DEBUG - Using fontManager instance from /Users/sathyanarayanan/.matplotlib/fontlist-v390.json
2025-02-14 02:34:25,212 - src.config - INFO - Starting main pipeline execution.
2025-02-14 02:34:25,212 - src.config - DEBUG - DataLoader initialized with file paths.
2025-02-14 02:34:25,213 - src.config - INFO - Loading transactions from /Users/sathyanarayanan/Desktop/github/Financial Transactions/data/transactions_data.csv
2025-02-14 02:34:37,262 - src.config - DEBUG - Transactions loaded with shape (13305915, 12)
2025-02-14 02:34:37,266 - src.config - INFO - Loading cards from /Users/sathyanarayanan/Desktop/github/Financial Transactions/data/cards_data.csv
2025-02-14 02:34:37,276 - src.config - DEBUG - Cards loaded with shape (6146, 13)
2025-02-14 02:34:37,276 - src.config - INFO - Loading users from /Users/sathyanarayanan/Desktop/github/Financial Transactions/data/users_data.csv
2025-02-14 02:34:37,285 - src.config - DEBUG - Users loaded with shape (2000, 14)
2025-02-14 02:34:37,292 - src.config - INFO - Loading fraud labels from /Users/sathyanarayanan/Desktop/github/Financial Transactions/data/train_fraud_labels.json
2025-02-14 02:34:43,022 - src.config - DEBUG - Fraud labels loaded with shape (8914963, 2)
2025-02-14 02:34:43,074 - src.config - DEBUG - Preprocessor initialized.
2025-02-14 02:34:43,074 - src.config - INFO - Preprocessing transactions.
/Users/sathyanarayanan/Desktop/github/Financial Transactions/notebooks/../src/preprocessing.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  transactions.fillna("NA", inplace=True)
2025-02-14 02:34:51,143 - src.config - DEBUG - Transactions preprocessed. Shape: (13305915, 12)
2025-02-14 02:34:51,200 - src.config - INFO - Preprocessing cards.
/Users/sathyanarayanan/Desktop/github/Financial Transactions/notebooks/../src/preprocessing.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cards['acct_open_date'] = pd.to_datetime(cards['acct_open_date'], errors='coerce')
2025-02-14 02:34:51,204 - src.config - DEBUG - Cards preprocessed. Shape: (6146, 13)
2025-02-14 02:34:51,241 - src.config - INFO - Merging datasets.
2025-02-14 02:38:08,907 - src.config - INFO - Performing common processing on dataframe.
2025-02-14 02:38:09,004 - src.config - DEBUG - Processing 'date' column.
2025-02-14 02:38:12,313 - src.config - DEBUG - Processed 'date' column.
2025-02-14 02:38:12,314 - src.config - DEBUG - Processing 'expires' column.
2025-02-14 02:38:48,899 - src.config - DEBUG - Processed 'expires' column.
2025-02-14 02:39:11,110 - src.config - DEBUG - Dropped columns: ['date', 'acct_open_date', 'expires', 'card_number', 'cvv', 'transaction_id']
2025-02-14 02:39:26,255 - src.config - DEBUG - Processing monetary column: amount
2025-02-14 02:39:40,353 - src.config - DEBUG - Processed monetary column: amount
2025-02-14 02:39:40,356 - src.config - DEBUG - Processing monetary column: per_capita_income
2025-02-14 02:39:49,551 - src.config - DEBUG - Processed monetary column: per_capita_income
2025-02-14 02:39:49,553 - src.config - DEBUG - Processing monetary column: yearly_income
2025-02-14 02:39:59,258 - src.config - DEBUG - Processed monetary column: yearly_income
2025-02-14 02:39:59,261 - src.config - DEBUG - Processing monetary column: total_debt
2025-02-14 02:40:08,559 - src.config - DEBUG - Processed monetary column: total_debt
2025-02-14 02:40:08,563 - src.config - DEBUG - Processing monetary column: credit_limit
2025-02-14 02:40:18,033 - src.config - DEBUG - Processed monetary column: credit_limit
2025-02-14 02:40:18,290 - src.config - DEBUG - Label encoding column: use_chip
2025-02-14 02:40:19,621 - src.config - DEBUG - Label encoded column: use_chip
2025-02-14 02:40:19,621 - src.config - DEBUG - Label encoding column: merchant_city
2025-02-14 02:40:21,689 - src.config - DEBUG - Label encoded column: merchant_city
2025-02-14 02:40:21,691 - src.config - DEBUG - Label encoding column: merchant_state
2025-02-14 02:40:23,040 - src.config - DEBUG - Label encoded column: merchant_state
2025-02-14 02:40:23,041 - src.config - DEBUG - Label encoding column: errors
2025-02-14 02:40:24,188 - src.config - DEBUG - Label encoded column: errors
2025-02-14 02:40:24,189 - src.config - DEBUG - Label encoding column: card_brand
2025-02-14 02:40:25,559 - src.config - DEBUG - Label encoded column: card_brand
2025-02-14 02:40:25,560 - src.config - DEBUG - Label encoding column: card_type
2025-02-14 02:40:26,869 - src.config - DEBUG - Label encoded column: card_type
2025-02-14 02:40:26,871 - src.config - DEBUG - Label encoding column: has_chip
2025-02-14 02:40:28,017 - src.config - DEBUG - Label encoded column: has_chip
2025-02-14 02:40:28,017 - src.config - DEBUG - Label encoding column: card_on_dark_web
2025-02-14 02:40:29,153 - src.config - DEBUG - Label encoded column: card_on_dark_web
2025-02-14 02:40:29,153 - src.config - DEBUG - Label encoding column: gender
2025-02-14 02:40:30,362 - src.config - DEBUG - Label encoded column: gender
2025-02-14 02:40:30,416 - src.config - DEBUG - Common processing completed. Shape: (13305915, 44)
2025-02-14 02:40:32,192 - src.config - DEBUG - Data merged successfully. Final shape: (13305915, 44)
2025-02-14 02:41:15,781 - src.config - INFO - Processed dataframe for unsupervised learning. Shape: (13305915, 41)

In [6]:
CUSTOMER_SEG_CONFIG = {
    'n_clusters': [3, 5, 7, 9],
    'init': ['k-means++'],    
    'max_iter': [300],
    'random_state': 42
}

In [7]:
import pandas as pd
import logging
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import joblib
from src.config import logger

class CustomerSegmentation:
    def __init__(self, n_clusters: int = 5, segmentation_features: list = None):
        """
        Parameters:
            n_clusters (int): Initial number of clusters.
            segmentation_features (list): List of column names to use for segmentation.
                If None, a default list based on credit/risk attributes is used.
        """
        # Default feature set focusing on credit risk and behavioral attributes.
        if segmentation_features is None:
            segmentation_features = [
                'amount', 'use_chip', 'merchant_city', 'merchant_state', 'mcc', 'errors',
                'card_brand', 'card_type', 'credit_limit', 'year_pin_last_changed',
                'card_on_dark_web', 'current_age', 'retirement_age', 'per_capita_income',
                'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards',
                'transaction_hour', 'transaction_day', 'transaction_month', 'transaction_year',
                'transaction_weekday', 'transaction_quarter', 'day_of_year', 'week_of_year',
                'expires_month', 'expires_year'
            ]
        self.n_clusters = n_clusters
        self.segmentation_features = segmentation_features
        self.scaler = StandardScaler()
        # Extract the first element from the 'init' list
        init_method = CUSTOMER_SEG_CONFIG.get('init', ['k-means++'])[0]
        max_iter = CUSTOMER_SEG_CONFIG.get('max_iter', [300])[0]
        self.kmeans_model = KMeans(
            n_clusters=self.n_clusters,
            init=init_method,
            max_iter=max_iter,
            random_state=CUSTOMER_SEG_CONFIG.get('random_state', 42)
        )
        logger.debug("CustomerSegmentation initialized with %d clusters and features: %s",
                     self.n_clusters, self.segmentation_features)

    def _prepare_features(self, X: pd.DataFrame, fit: bool = True):
        """
        Selects segmentation features and scales them.
        
        Parameters:
            X (pd.DataFrame): Input data.
            fit (bool): If True, fit the scaler; otherwise, transform using the existing scaler.
            
        Returns:
            X_scaled (np.array): Scaled feature matrix.
        """
        X_features = X[self.segmentation_features]
        if fit:
            X_scaled = self.scaler.fit_transform(X_features)
        else:
            X_scaled = self.scaler.transform(X_features)
        return X_scaled

    def fit(self, X: pd.DataFrame) -> list:
        """
        Fits the KMeans model on the selected and scaled features.
        
        Parameters:
            X (pd.DataFrame): Input data.
            
        Returns:
            labels (list): Cluster labels for each sample.
        """
        try:
            logger.info("Fitting KMeans for customer segmentation.")
            X_scaled = self._prepare_features(X, fit=True)
            self.kmeans_model.fit(X_scaled)
            labels = self.kmeans_model.labels_
            logger.debug("Customer segmentation labels generated.")
            return labels
        except Exception as e:
            logger.exception("Error fitting customer segmentation: %s", e)
            raise

    def tune(self, X: pd.DataFrame) -> int:
        """
        Tunes the number of clusters by evaluating inertia on scaled features.
        
        Parameters:
            X (pd.DataFrame): Input data.
        
        Returns:
            best_k (int): Best number of clusters found.
        """
        try:
            logger.info("Tuning customer segmentation model using inertia metric.")
            X_scaled = self._prepare_features(X, fit=True)
            best_k = None
            best_inertia = float('inf')
            candidate_clusters = CUSTOMER_SEG_CONFIG.get('n_clusters', list(range(3, 11)))
            for k in candidate_clusters:
                kmeans = KMeans(
                    n_clusters=k,
                    init=CUSTOMER_SEG_CONFIG.get('init', ['k-means++'])[0],
                    max_iter=CUSTOMER_SEG_CONFIG.get('max_iter', [300])[0],
                    random_state=CUSTOMER_SEG_CONFIG.get('random_state', 42)
                )
                kmeans.fit(X_scaled)
                inertia = kmeans.inertia_
                logger.info("KMeans with k=%d has inertia: %.2f", k, inertia)
                if inertia < best_inertia:
                    best_inertia = inertia
                    best_k = k
            logger.info("Best number of clusters found: %d with inertia: %.2f", best_k, best_inertia)
            self.n_clusters = best_k
            self.kmeans_model = KMeans(
                n_clusters=best_k,
                init=CUSTOMER_SEG_CONFIG.get('init', ['k-means++'])[0],
                max_iter=CUSTOMER_SEG_CONFIG.get('max_iter', [300])[0],
                random_state=CUSTOMER_SEG_CONFIG.get('random_state', 42)
            )
            self.kmeans_model.fit(X_scaled)
            return best_k
        except Exception as e:
            logger.exception("Error tuning customer segmentation: %s", e)
            raise

    def predict(self, X: pd.DataFrame) -> list:
        """
        Predicts the cluster labels for new data.
        
        Parameters:
            X (pd.DataFrame): New input data.
            
        Returns:
            labels (list): Cluster labels for each sample.
        """
        try:
            logger.info("Predicting customer segments.")
            X_scaled = self._prepare_features(X, fit=False)
            labels = self.kmeans_model.predict(X_scaled)
            logger.debug("Customer segments predicted.")
            return labels
        except Exception as e:
            logger.exception("Error predicting customer segments: %s", e)
            raise

    def interpret_clusters(self, X: pd.DataFrame) -> pd.DataFrame:
        """
        Interprets the clusters by computing the cluster centroids (in the original feature space)
        and counting the number of samples in each cluster.
        
        Parameters:
            X (pd.DataFrame): The data used to compute cluster assignments.
            
        Returns:
            df_centroids (pd.DataFrame): DataFrame with centroids and counts for each cluster.
        """
        try:
            logger.info("Interpreting clusters.")
            centroids = self.kmeans_model.cluster_centers_
            centroids_original = self.scaler.inverse_transform(centroids)
            df_centroids = pd.DataFrame(centroids_original, columns=self.segmentation_features)
            df_centroids['cluster'] = range(self.n_clusters)
            X_scaled = self._prepare_features(X, fit=False)
            labels = self.kmeans_model.predict(X_scaled)
            counts = pd.Series(labels).value_counts().sort_index()
            df_centroids['count'] = counts.values
            logger.info("Cluster interpretation completed.")
            logger.debug("Cluster centroids and counts:\n%s", df_centroids)
            return df_centroids
        except Exception as e:
            logger.exception("Error interpreting clusters: %s", e)
            raise

    def save_model(self, model_dir: str) -> None:
        """
        Saves the KMeans model and the scaler to the specified directory.
        
        Parameters:
            model_dir (str): Directory path where the models will be saved.
        """
        try:
            logger.info("Saving customer segmentation model and scaler.")
            joblib.dump(self.kmeans_model, f"{model_dir}/kmeans_segmentation.pkl")
            joblib.dump(self.scaler, f"{model_dir}/scaler.pkl")
            logger.debug("Customer segmentation model and scaler saved in %s", model_dir)
        except Exception as e:
            logger.exception("Error saving customer segmentation model: %s", e)
            raise

In [8]:
# 6. Customer Segmentation â€“ Tune and Predict using KMeans
segmentation_features = df_unsupervised[[
    'amount', 'use_chip', 'merchant_city', 'merchant_state', 'mcc', 'errors',
    'card_brand', 'card_type', 'credit_limit', 'year_pin_last_changed',
    'card_on_dark_web', 'current_age', 'retirement_age', 'per_capita_income',
    'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards',
    'transaction_hour', 'transaction_day', 'transaction_month', 'transaction_year',
    'transaction_weekday', 'transaction_quarter', 'day_of_year', 'week_of_year',
    'expires_month', 'expires_year'
]]
segmentation = CustomerSegmentation(n_clusters=5)
best_k = segmentation.tune(segmentation_features)
logger.info("Best number of clusters found: %d", best_k)
segmentation_labels = segmentation.predict(segmentation_features)        
df_unsupervised['customer_segment'] = segmentation_labels

cluster_info = segmentation.interpret_clusters(segmentation_features)
logger.info("Cluster interpretation:\n%s", cluster_info.to_string())

segmentation.save_model(MODELS_DIR)

2025-02-14 02:51:12,683 - src.config - DEBUG - CustomerSegmentation initialized with 5 clusters and features: ['amount', 'use_chip', 'merchant_city', 'merchant_state', 'mcc', 'errors', 'card_brand', 'card_type', 'credit_limit', 'year_pin_last_changed', 'card_on_dark_web', 'current_age', 'retirement_age', 'per_capita_income', 'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards', 'transaction_hour', 'transaction_day', 'transaction_month', 'transaction_year', 'transaction_weekday', 'transaction_quarter', 'day_of_year', 'week_of_year', 'expires_month', 'expires_year']
2025-02-14 02:51:12,687 - src.config - INFO - Tuning customer segmentation model using inertia metric.
2025-02-14 02:52:04,493 - src.config - INFO - KMeans with k=3 has inertia: 302966264.43
2025-02-14 02:52:32,552 - src.config - INFO - KMeans with k=5 has inertia: 284617784.63
2025-02-14 02:53:00,464 - src.config - INFO - KMeans with k=7 has inertia: 275009613.75
2025-02-14 02:53:32,490 - src.config - INFO - KMeans with k=9 has inertia: 259583799.29
2025-02-14 02:53:32,500 - src.config - INFO - Best number of clusters found: 9 with inertia: 259583799.29
2025-02-14 02:54:18,820 - src.config - INFO - Best number of clusters found: 9
2025-02-14 02:54:18,838 - src.config - INFO - Predicting customer segments.
2025-02-14 02:54:30,584 - src.config - DEBUG - Customer segments predicted.
2025-02-14 02:54:30,861 - src.config - INFO - Interpreting clusters.
2025-02-14 02:54:42,473 - src.config - INFO - Cluster interpretation completed.
2025-02-14 02:54:42,480 - src.config - DEBUG - Cluster centroids and counts:
      amount  use_chip  merchant_city  merchant_state          mcc     errors  \
0  38.524113  1.909514    6005.495970      101.048983  5588.934561  20.981627
1  38.882849  0.262098    6166.748720      100.222936  5558.683987  20.981490
2  40.390132  1.355270    6793.757905       93.886312  5556.732963  20.980799
3  73.218063  1.179850    7222.016526       95.427480  5499.900790  20.987063
4  38.490463  1.907249    6065.739845      100.098509  5591.216875  20.981591
5  47.753289  1.110561    6826.673148      104.854982  5363.208680   9.510645
6  57.693840  1.174530    6303.337283      107.009159  5552.384512  20.978371
7  38.789962  0.223871    6120.495870      100.437632  5555.235129  20.981583
8  68.563118  1.252044    6508.455866      127.123630  5593.533750  20.976958

   card_brand  card_type  credit_limit  year_pin_last_changed  \
0    2.382506   0.830363  13684.475921            2011.070966
1    2.382678   0.826080  13835.192502            2011.679928
2    2.367131   0.758286  14244.072752            2011.269894
3    2.380700   0.811185  34318.839967            2011.227720
4    2.385893   0.821640  13494.425565            2011.021170
5    2.293004   0.952472  16431.786126            2011.306246
6    0.148145   0.000007  12001.584633            2011.395449
7    2.381166   0.831579  13953.489041            2011.749353
8    2.407635   0.860764  60983.100976            2011.383869

   card_on_dark_web  current_age  retirement_age  per_capita_income  \
0               0.0    49.363536       66.292357       21642.306807
1               0.0    53.090972       66.508559       21484.523394
2               0.0    78.493483       67.174285       22005.259110
3               0.0    48.687248       66.560863       43054.675079
4               0.0    53.332108       66.389154       21438.734072
5               0.0    54.142335       66.408969       23938.446032
6               0.0    51.716095       66.589338       23765.373167
7               0.0    49.962602       66.441879       21572.952683
8               0.0    59.136524       64.560859       99762.156770

   yearly_income     total_debt  credit_score  num_credit_cards  \
0   43163.711423   59802.213110    711.041115          3.476428
1   41874.858467   51797.034601    713.721407          3.774672
2   36825.866612   10498.556941    734.776808          5.675044
3   86193.582397  132425.853970    708.260085          3.585199
4   41869.374419   52196.838299    713.597383          3.763379
5   46410.108621   57924.621131    711.665671          3.814228
6   46385.223742   58519.611492    713.845971          3.679274
7   42805.188078   57552.786793    711.325092          3.550003
8  198799.249888  211439.064754    654.109575          3.658635

   transaction_hour  transaction_day  transaction_month  transaction_year  \
0         12.449209        15.917633           9.714500       2012.394033
1         12.393653        15.506307           3.366162       2017.121806
2         12.221141        15.960601           8.239955       2014.194256
3         12.177261        15.769277           6.254738       2014.638658
4         12.430987        15.478197           3.324648       2012.418364
5         12.320858        15.702734           6.455165       2014.561445
6         12.437334        15.697420           6.365711       2014.432787
7         12.410555        15.908032           9.446933       2016.960121
8         12.853151        15.745168           6.439730       2014.428782

   transaction_weekday  transaction_quarter  day_of_year  week_of_year  \
0             2.983491             3.560158   280.523012     40.130545
1             3.022065             1.464268    86.735462     13.042358
2             2.991100             3.075435   235.487387     33.892119
3             3.000917             2.418789   174.813942     25.432425
4             2.994628             1.452238    85.473366     12.908883
5             2.986244             2.490420   180.985825     26.288913
6             2.998422             2.459908   178.208058     25.889246
7             3.014343             3.491220   272.316871     39.256869
8             2.993524             2.482917   180.560792     26.229786

   expires_month  expires_year  cluster    count
0       6.368899   2021.061313        0  2515478
1       6.333775   2021.750783        1  2498455
2       6.334714   2021.585062        2  1278301
3       6.928793   2021.425007        3   946813
4       6.348144   2021.020392        4  2814835
5       6.382332   2021.392835        5    52559
6       6.619500   2021.556279        6   967451
7       6.362664   2021.787776        7  2113388
8       7.271802   2021.540260        8   118635
2025-02-14 02:54:42,724 - src.config - INFO - Cluster interpretation:
      amount  use_chip  merchant_city  merchant_state          mcc     errors  card_brand  card_type  credit_limit  year_pin_last_changed  card_on_dark_web  current_age  retirement_age  per_capita_income  yearly_income     total_debt  credit_score  num_credit_cards  transaction_hour  transaction_day  transaction_month  transaction_year  transaction_weekday  transaction_quarter  day_of_year  week_of_year  expires_month  expires_year  cluster    count
0  38.524113  1.909514    6005.495970      101.048983  5588.934561  20.981627    2.382506   0.830363  13684.475921            2011.070966               0.0    49.363536       66.292357       21642.306807   43163.711423   59802.213110    711.041115          3.476428         12.449209        15.917633           9.714500       2012.394033             2.983491             3.560158   280.523012     40.130545       6.368899   2021.061313        0  2515478
1  38.882849  0.262098    6166.748720      100.222936  5558.683987  20.981490    2.382678   0.826080  13835.192502            2011.679928               0.0    53.090972       66.508559       21484.523394   41874.858467   51797.034601    713.721407          3.774672         12.393653        15.506307           3.366162       2017.121806             3.022065             1.464268    86.735462     13.042358       6.333775   2021.750783        1  2498455
2  40.390132  1.355270    6793.757905       93.886312  5556.732963  20.980799    2.367131   0.758286  14244.072752            2011.269894               0.0    78.493483       67.174285       22005.259110   36825.866612   10498.556941    734.776808          5.675044         12.221141        15.960601           8.239955       2014.194256             2.991100             3.075435   235.487387     33.892119       6.334714   2021.585062        2  1278301
3  73.218063  1.179850    7222.016526       95.427480  5499.900790  20.987063    2.380700   0.811185  34318.839967            2011.227720               0.0    48.687248       66.560863       43054.675079   86193.582397  132425.853970    708.260085          3.585199         12.177261        15.769277           6.254738       2014.638658             3.000917             2.418789   174.813942     25.432425       6.928793   2021.425007        3   946813
4  38.490463  1.907249    6065.739845      100.098509  5591.216875  20.981591    2.385893   0.821640  13494.425565            2011.021170               0.0    53.332108       66.389154       21438.734072   41869.374419   52196.838299    713.597383          3.763379         12.430987        15.478197           3.324648       2012.418364             2.994628             1.452238    85.473366     12.908883       6.348144   2021.020392        4  2814835
5  47.753289  1.110561    6826.673148      104.854982  5363.208680   9.510645    2.293004   0.952472  16431.786126            2011.306246               0.0    54.142335       66.408969       23938.446032   46410.108621   57924.621131    711.665671          3.814228         12.320858        15.702734           6.455165       2014.561445             2.986244             2.490420   180.985825     26.288913       6.382332   2021.392835        5    52559
6  57.693840  1.174530    6303.337283      107.009159  5552.384512  20.978371    0.148145   0.000007  12001.584633            2011.395449               0.0    51.716095       66.589338       23765.373167   46385.223742   58519.611492    713.845971          3.679274         12.437334        15.697420           6.365711       2014.432787             2.998422             2.459908   178.208058     25.889246       6.619500   2021.556279        6   967451
7  38.789962  0.223871    6120.495870      100.437632  5555.235129  20.981583    2.381166   0.831579  13953.489041            2011.749353               0.0    49.962602       66.441879       21572.952683   42805.188078   57552.786793    711.325092          3.550003         12.410555        15.908032           9.446933       2016.960121             3.014343             3.491220   272.316871     39.256869       6.362664   2021.787776        7  2113388
8  68.563118  1.252044    6508.455866      127.123630  5593.533750  20.976958    2.407635   0.860764  60983.100976            2011.383869               0.0    59.136524       64.560859       99762.156770  198799.249888  211439.064754    654.109575          3.658635         12.853151        15.745168           6.439730       2014.428782             2.993524             2.482917   180.560792     26.229786       7.271802   2021.540260        8   118635
2025-02-14 02:54:42,726 - src.config - INFO - Saving customer segmentation model and scaler.
2025-02-14 02:54:42,835 - src.config - DEBUG - Customer segmentation model and scaler saved in /Users/sathyanarayanan/Desktop/github/Financial Transactions/models

In [4]:
import pandas as pd
import numpy as np
import logging
import joblib
import time
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from src.config import CLV_PRED_CONFIG, logger

def mean_absolute_percentage_error(y_true, y_pred):
    """Calculate Mean Absolute Percentage Error (MAPE)."""
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

class CLVPrediction:
    def __init__(self):
        # Use a pipeline that first scales features then applies Ridge Regression.
        self.pipeline = Pipeline([
            ('scaler', StandardScaler()),
            ('ridge', Ridge())
        ])
        logger.debug("CLVPrediction pipeline initialized with StandardScaler and Ridge Regression.")

    def train(self, X: pd.DataFrame, y: pd.Series) -> float:
        """
        Train a regression model to predict advanced CLV using a pipeline that includes scaling.
        The training uses RandomizedSearchCV to optimize hyperparameters.
        A log transformation is applied to the target to reduce the effect of extreme values.
        """
        try:
            logger.info("Training advanced CLV prediction model using Ridge Regression with log transformation.")
            test_size = CLV_PRED_CONFIG.get('test_size', 0.2)
            random_state = CLV_PRED_CONFIG.get('random_state', 42)
            X_train, X_test, y_train, y_test = train_test_split(
                X, y, test_size=test_size, random_state=random_state
            )
            # Apply log transformation to the training target (using log1p to handle zero values safely)
            y_train_log = np.log1p(y_train)
            
            param_grid = {
                'ridge__alpha': CLV_PRED_CONFIG.get('param_grid', {'alpha': [0.01, 0.1, 1.0, 10.0, 100.0]})['alpha'],
                'ridge__solver': CLV_PRED_CONFIG.get('param_grid', {'solver': ['auto', 'svd', 'cholesky']}).get('solver', ['auto'])
            }
            n_iter = CLV_PRED_CONFIG.get('n_iter', 20)
            scoring = CLV_PRED_CONFIG.get('scoring', 'neg_mean_absolute_error')
            
            randomized_search = RandomizedSearchCV(
                estimator=self.pipeline,
                param_distributions=param_grid,
                n_iter=n_iter,
                scoring=scoring,
                random_state=random_state,
                n_jobs=-1
            )
            
            start_time = time.time()
            randomized_search.fit(X_train, y_train_log)
            duration = time.time() - start_time
            logger.info("Ridge Regression tuning completed in %.2f seconds.", duration)
            
            # Update the pipeline with the best estimator found.
            self.pipeline = randomized_search.best_estimator_
            logger.debug("Best hyperparameters: %s", randomized_search.best_params_)
            
            # Predict on the test set (in log-space) and convert back to original scale.
            predictions_log = self.pipeline.predict(X_test)
            predictions = np.expm1(predictions_log)
            
            mae = mean_absolute_error(y_test, predictions)
            mape = mean_absolute_percentage_error(y_test, predictions)
            logger.info("Advanced CLV Prediction MAE on validation set: %.2f", mae)
            logger.info("MAPE on validation set: %.2f%%", mape)
            
            return mae
        except Exception as e:
            logger.exception("Error training advanced CLV prediction model: %s", e)
            raise

    def predict(self, X: pd.DataFrame) -> pd.Series:
        """
        Predict CLV using the trained pipeline.
        The predictions are transformed back to the original scale using np.expm1.
        """
        try:
            logger.info("Predicting advanced CLV using the trained pipeline.")
            predictions_log = self.pipeline.predict(X)
            predictions = np.expm1(predictions_log)
            logger.debug("Advanced CLV predictions generated.")
            return predictions
        except Exception as e:
            logger.exception("Error predicting advanced CLV: %s", e)
            raise

    def save_model(self, model_dir: str) -> None:
        """
        Save the entire pipeline (scaler and model) to the specified directory.
        """
        try:
            logger.info("Saving advanced CLV prediction pipeline.")
            joblib.dump(self.pipeline, f"{model_dir}/clv_model.pkl")
            logger.debug("Advanced CLV prediction pipeline saved in %s", model_dir)
        except Exception as e:
            logger.exception("Error saving advanced CLV prediction model: %s", e)
            raise

In [13]:
from sklearn.linear_model import Ridge
from sklearn.ensemble import GradientBoostingRegressor

# Configuration for Ridge Regression (linear baseline)
CLV_PRED_CONFIG_RIDGE = {
    'model': Ridge,
    'param_grid': {
        'ridge__alpha': [0.01, 0.1, 1.0, 10.0, 100.0],
        'ridge__solver': ['auto', 'svd', 'cholesky']
    },
    'test_size': 0.2,
    'random_state': 42,
    'n_iter': 20,
    'scoring': 'neg_mean_absolute_error'
}

# Configuration for Gradient Boosting Regressor (captures non-linear relationships)
CLV_PRED_CONFIG_GB = {
    'model': GradientBoostingRegressor,
    'param_grid': {
        'gb__n_estimators': [100, 200, 300],
        'gb__learning_rate': [0.01, 0.05, 0.1],
        'gb__max_depth': [3, 4, 5]
    },
    'test_size': 0.2,
    'random_state': 42,
    'n_iter': 20,
    'scoring': 'neg_mean_absolute_error'
}

In [14]:
import pandas as pd
import numpy as np
import logging
import joblib
import time
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from src.config import logger

def mean_absolute_percentage_error(y_true, y_pred):
    """Calculate Mean Absolute Percentage Error (MAPE)."""
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

class CLVPredictionGB:
    def __init__(self):
        # Create a pipeline that scales features and applies Gradient Boosting Regressor.
        self.pipeline = Pipeline([
            ('scaler', StandardScaler()),
            ('gb', GradientBoostingRegressor(random_state=CLV_PRED_CONFIG_GB.get('random_state', 42)))
        ])
        logger.debug("CLVPredictionGB pipeline initialized with StandardScaler and GradientBoostingRegressor.")

    def train(self, X: pd.DataFrame, y: pd.Series) -> float:
        """
        Train a regression model (Gradient Boosting) to predict advanced CLV.
        Applies log transformation to the target before training, and converts predictions back.
        """
        try:
            logger.info("Training advanced CLV prediction model using Gradient Boosting with log transformation.")
            test_size = CLV_PRED_CONFIG_GB.get('test_size', 0.2)
            random_state = CLV_PRED_CONFIG_GB.get('random_state', 42)
            X_train, X_test, y_train, y_test = train_test_split(
                X, y, test_size=test_size, random_state=random_state
            )
            # Apply log transformation to the training target
            y_train_log = np.log1p(y_train)
            
            param_grid = {
                'gb__n_estimators': CLV_PRED_CONFIG_GB.get('param_grid', {}).get('gb__n_estimators', [100, 200, 300]),
                'gb__learning_rate': CLV_PRED_CONFIG_GB.get('param_grid', {}).get('gb__learning_rate', [0.01, 0.05, 0.1]),
                'gb__max_depth': CLV_PRED_CONFIG_GB.get('param_grid', {}).get('gb__max_depth', [3, 4, 5])
            }
            n_iter = CLV_PRED_CONFIG_GB.get('n_iter', 20)
            scoring = CLV_PRED_CONFIG_GB.get('scoring', 'neg_mean_absolute_error')
            
            randomized_search = RandomizedSearchCV(
                estimator=self.pipeline,
                param_distributions=param_grid,
                n_iter=n_iter,
                scoring=scoring,
                random_state=random_state,
                n_jobs=-1
            )
            
            start_time = time.time()
            randomized_search.fit(X_train, y_train_log)
            duration = time.time() - start_time
            logger.info("Gradient Boosting tuning completed in %.2f seconds.", duration)
            
            # Update the pipeline with the best estimator found
            self.pipeline = randomized_search.best_estimator_
            logger.debug("Best hyperparameters: %s", randomized_search.best_params_)
            
            # Predict on the test set in log-space and convert back
            predictions_log = self.pipeline.predict(X_test)
            predictions = np.expm1(predictions_log)
            
            mae = mean_absolute_error(y_test, predictions)
            mape = mean_absolute_percentage_error(y_test, predictions)
            logger.info("Advanced CLV Prediction MAE on validation set: %.2f", mae)
            logger.info("MAPE on validation set: %.2f%%", mape)
            return mae
        except Exception as e:
            logger.exception("Error training advanced CLV prediction model with GB: %s", e)
            raise

    def predict(self, X: pd.DataFrame) -> pd.Series:
        """
        Predict CLV using the trained Gradient Boosting pipeline.
        """
        try:
            logger.info("Predicting advanced CLV using Gradient Boosting pipeline.")
            predictions_log = self.pipeline.predict(X)
            predictions = np.expm1(predictions_log)
            logger.debug("Advanced CLV predictions (GB) generated.")
            return predictions
        except Exception as e:
            logger.exception("Error predicting advanced CLV with GB: %s", e)
            raise

    def save_model(self, model_dir: str) -> None:
        """
        Save the entire Gradient Boosting pipeline (scaler and model) to the specified directory.
        """
        try:
            logger.info("Saving advanced CLV prediction pipeline (GB).")
            joblib.dump(self.pipeline, f"{model_dir}/clv_model_gb.pkl")
            logger.debug("Advanced CLV prediction pipeline (GB) saved in %s", model_dir)
        except Exception as e:
            logger.exception("Error saving advanced CLV prediction model with GB: %s", e)
            raise

In [ ]:
import gc
from src.utils import compute_rfm_metrics, compute_advanced_clv
from src.clv_prediction import CLVPrediction  # Ridge-based model
 # Gradient Boosting model

logger.info("Starting advanced CLV computation using RFM metrics.")
gc.collect()   

# Compute RFM metrics
rfm = compute_rfm_metrics(df_unsupervised)
logger.debug("Computed RFM metrics (first 5 rows):\n%s", rfm.head().to_string())

rfm = compute_advanced_clv(rfm)
logger.debug("RFM metrics with advanced CLV computed (first 5 rows):\n%s", rfm.head().to_string())

# Log the average CLV
avg_clv = rfm['clv'].mean()
logger.info("Average CLV: %.2f", avg_clv)

# Merge additional customer features
customer_info = df_unsupervised.groupby('client_id').agg({
    'current_age': 'first',
    'per_capita_income': 'first'
}).reset_index()
logger.debug("Customer info aggregated (first 5 rows):\n%s", customer_info.head().to_string())

rfm = rfm.merge(customer_info, on='client_id', how='left')
logger.debug("Merged RFM with customer info (first 5 rows):\n%s", rfm.head().to_string())
logger.info("RFM DataFrame shape after merging: %s", rfm.shape)

# Build feature set for CLV prediction.
clv_features = rfm[['recency', 'frequency', 'monetary', 'current_age', 'per_capita_income']]
clv_target = rfm['clv']
logger.info("CLV feature set shape: %s", clv_features.shape)
logger.debug("CLV features sample:\n%s", clv_features.head().to_string())
logger.info("CLV target sample (first 5 values): %s", clv_target.head().to_list())

# Option 1: Train Ridge-based CLV model.
clv_model_ridge = CLVPrediction()
mae_ridge = clv_model_ridge.train(clv_features, clv_target)
logger.info("Ridge-based Advanced CLV Prediction MAE: %.2f", mae_ridge)
clv_model_ridge.save_model(MODELS_DIR)

# Option 2: Train Gradient Boosting-based CLV model.
clv_model_gb = CLVPredictionGB()
mae_gb = clv_model_gb.train(clv_features, clv_target)
logger.info("Gradient Boosting Advanced CLV Prediction MAE: %.2f", mae_gb)
clv_model_gb.save_model(MODELS_DIR)

gc.collect()

2025-02-14 02:14:46,583 - src.config - INFO - Starting advanced CLV computation using RFM metrics.
2025-02-14 02:15:16,221 - src.config - DEBUG - Computed RFM metrics (first 5 rows):
  client_id  recency  frequency    monetary
0         0        0      12795   625799.67
1         1        0      10073   336187.37
2       100        0       7070   406748.36
3      1002       35       3724   199185.10
4      1003        0      10830  1004970.67
2025-02-14 02:15:16,231 - src.config - DEBUG - RFM metrics with advanced CLV computed (first 5 rows):
  client_id  recency  frequency    monetary           clv
0         0        0      12795   625799.67  8.007107e+09
1         1        0      10073   336187.37  3.386415e+09
2       100        0       7070   406748.36  2.875711e+09
3      1002       35       3724   199185.10  2.060459e+07
4      1003        0      10830  1004970.67  1.088383e+10
2025-02-14 02:15:16,232 - src.config - INFO - Average CLV: 6173888834.97
2025-02-14 02:15:17,011 - src.config - DEBUG - Customer info aggregated (first 5 rows):
  client_id  current_age  per_capita_income
0         0           33            29237.0
1         1           43            22247.0
2       100           56            24005.0
3      1002           31            19023.0
4      1003           51            39495.0
2025-02-14 02:15:17,017 - src.config - DEBUG - Merged RFM with customer info (first 5 rows):
  client_id  recency  frequency    monetary           clv  current_age  per_capita_income
0         0        0      12795   625799.67  8.007107e+09           33            29237.0
1         1        0      10073   336187.37  3.386415e+09           43            22247.0
2       100        0       7070   406748.36  2.875711e+09           56            24005.0
3      1002       35       3724   199185.10  2.060459e+07           31            19023.0
4      1003        0      10830  1004970.67  1.088383e+10           51            39495.0
2025-02-14 02:15:17,017 - src.config - INFO - RFM DataFrame shape after merging: (1219, 7)
2025-02-14 02:15:17,018 - src.config - INFO - CLV feature set shape: (1219, 5)
2025-02-14 02:15:17,019 - src.config - DEBUG - CLV features sample:
   recency  frequency    monetary  current_age  per_capita_income
0        0      12795   625799.67           33            29237.0
1        0      10073   336187.37           43            22247.0
2        0       7070   406748.36           56            24005.0
3       35       3724   199185.10           31            19023.0
4        0      10830  1004970.67           51            39495.0
2025-02-14 02:15:17,020 - src.config - INFO - CLV target sample (first 5 values): [8007106777.650001, 3386415378.0099998, 2875710905.2, 20604592.01111111, 10883832356.1]
2025-02-14 02:15:17,023 - src.config - DEBUG - CLVPrediction pipeline initialized with StandardScaler and Ridge Regression.
2025-02-14 02:15:17,024 - src.config - INFO - Training advanced CLV prediction model using Ridge Regression.
/opt/homebrew/lib/python3.11/site-packages/sklearn/model_selection/_search.py:320: UserWarning: The total space of parameters 15 is smaller than n_iter=20. Running 15 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
2025-02-14 02:15:17,418 - src.config - INFO - Ridge Regression tuning completed in 0.38 seconds.
2025-02-14 02:15:17,418 - src.config - DEBUG - Best hyperparameters: {'ridge__solver': 'svd', 'ridge__alpha': 100.0}
2025-02-14 02:15:17,419 - src.config - INFO - Advanced CLV Prediction MAE on validation set: 1370734148.32
2025-02-14 02:15:17,420 - src.config - INFO - Ridge-based Advanced CLV Prediction MAE: 1370734148.32
2025-02-14 02:15:17,420 - src.config - INFO - Saving advanced CLV prediction pipeline.
2025-02-14 02:15:17,423 - src.config - DEBUG - Advanced CLV prediction pipeline saved in /Users/sathyanarayanan/Desktop/github/Financial Transactions/models
2025-02-14 02:15:17,424 - src.config - DEBUG - CLVPredictionGB pipeline initialized with StandardScaler and GradientBoostingRegressor.
2025-02-14 02:15:17,425 - src.config - INFO - Training advanced CLV prediction model using Gradient Boosting with log transformation.
2025-02-14 02:15:21,869 - src.config - INFO - Gradient Boosting tuning completed in 4.44 seconds.
2025-02-14 02:15:21,870 - src.config - DEBUG - Best hyperparameters: {'gb__n_estimators': 300, 'gb__max_depth': 3, 'gb__learning_rate': 0.05}
2025-02-14 02:15:21,873 - src.config - INFO - Advanced CLV Prediction MAE on validation set: 220175416.41
2025-02-14 02:15:21,873 - src.config - INFO - MAPE on validation set: 4.81%
2025-02-14 02:15:21,874 - src.config - INFO - Gradient Boosting Advanced CLV Prediction MAE: 220175416.41
2025-02-14 02:15:21,874 - src.config - INFO - Saving advanced CLV prediction pipeline (GB).
2025-02-14 02:15:21,883 - src.config - DEBUG - Advanced CLV prediction pipeline (GB) saved in /Users/sathyanarayanan/Desktop/github/Financial Transactions/models

52

In [17]:
df_unsupervised.head()

,id,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc,errors,id_card,client_id_card,card_brand,card_type,has_chip,num_cards_issued,credit_limit,year_pin_last_changed,card_on_dark_web,current_age,retirement_age,birth_year,birth_month,gender,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,transaction_hour,transaction_day,transaction_month,transaction_year,transaction_weekday,transaction_quarter,day_of_year,week_of_year,expires_month,expires_year,transaction_date
0,7475327,1556,2972,-77.00,2,59935,842,118,5499,21,2972,1556,2,2,1,2,55.0,2008,0,30,67,1989,7,0,46.80,-100.76,23679.0,48277.0,110153.0,740,4,0,1,1,2010,4,1,1,53,7,2022,2010-01-01
1,7475328,561,4575,14.57,2,67570,841,67,5311,21,4575,561,2,0,1,1,9100.0,2015,0,48,67,1971,6,1,40.80,-91.12,18076.0,36853.0,112139.0,834,5,0,1,1,2010,4,1,1,53,12,2024,2010-01-01
2,7475329,1129,102,80.00,2,27092,11626,24,4829,21,102,1129,2,1,1,1,14802.0,2008,0,49,65,1970,4,1,33.18,-117.29,16894.0,34449.0,36540.0,686,3,0,1,1,2010,4,1,1,53,5,2020,2010-01-01
3,7475331,430,2860,200.00,2,27092,2526,70,4829,21,2860,430,2,1,0,2,37634.0,2006,0,52,67,1967,5,0,41.42,-87.35,26168.0,53350.0,128676.0,685,5,0,1,1,2010,4,1,1,53,10,2024,2010-01-01
4,7475332,848,3915,46.41,2,13051,4711,94,5813,21,3915,848,3,1,1,1,19113.0,2014,0,51,69,1968,5,1,38.86,-76.60,33529.0,68362.0,96182.0,711,2,0,1,1,2010,4,1,1,53,1,2020,2010-01-01

In [ ]:
df_unsupervised.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 45 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   client_id              object
 2   card_id                object
 3   amount                 float64
 4   use_chip               int64
 5   merchant_id            int64
 6   merchant_city          int64
 7   merchant_state         int64
 8   mcc                    int64
 9   errors                 int64
 10  id_card                object
 11  client_id_card         int64
 12  card_brand             int64
 13  card_type              int64
 14  card_number            int64
 15  cvv                    int64
 16  has_chip               int64
 17  num_cards_issued       int64
 18  credit_limit           float64
 19  year_pin_last_changed  int64
 20  card_on_dark_web       int64
 21  transaction_id         object
 22  fraud_label            object
 23  current_age            int64
 24  retirement_age         int64
 25  birth_year             int64
 26  birth_month            int64
 27  gender                 int64
 28  latitude               float64
 29  longitude              float64
 30  per_capita_income      float64
 31  yearly_income          float64
 32  total_debt             float64
 33  credit_score           int64
 34  num_credit_cards       int64
 35  transaction_hour       int32
 36  transaction_day        int32
 37  transaction_month      int32
 38  transaction_year       int32
 39  transaction_weekday    int32
 40  transaction_quarter    int32
 41  day_of_year            int32
 42  week_of_year           UInt32
 43  expires_month          int64
 44  expires_year           int64
dtypes: UInt32(1), float64(7), int32(7), int64(24), object(6)
memory usage: 4.1+ GB